{% extends './base.html' %}

{% load static %}

{% block title %}
Customers
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/customers.css' %}">
{% endblock %}

{% block content %}


<div class="container" style="text-align: center;">
    <h2 class="title-text" style="color: rgb(134, 31, 65); text-align:center;">Customers</h2>
    <div class="row" style="justify-content: center;">
    {% for customer in customers %}
    <div class="card" style="width: 19rem; margin: 3%;">
        <img class="card-img-top" style="padding: 5%;" src="/static/images/{{ customer.gender }}.svg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Name: {{ customer.name }}</h5>
            <div style="text-align: center;">
                <form action="user" method="POST">
                    {% csrf_token %}
                        <input type="hidden" name="hidden_unique_id" value="{{ customer.id }}">
                    <input class="btn btn-outline-danger" type="submit" value="More Info">
                </form>
            </div>
            <!-- <div>
                <form action="user" method="POST" >
                    {% csrf_token %}
                    <input type="hidden" name="hidden_unique_id" value="{{ customer.id }}">
                    <input class="btn btn-outline-danger" type="submit" value="More Info">
                </form>
            </div> -->
        </div>
      </div>
    {% endfor %}
    </div>
</div>

{% endblock %}