{% extends './base.html' %}

{% load static %}

{% block title %}
All Customers
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/customers.css' %}">
{% endblock %}

{% block content %}


<div class="container">
    <div class="row">
    {% for customer in customers %}
    <div class="card" style="width: 25rem; margin-right: 5%; margin-left: 7%; margin-top: 5%; margin-bottom: 5%;">
        <img class="card-img-top" style="padding: 5%;" src="/static/images/{{ customer.gender }}.svg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Name: {{ customer.name }}</h5>
            
                <form action="user" method="POST" style="margin-left:23%; display:inline-block; " >
                    {% csrf_token %}
                    <input type="hidden" name="hidden_unique_id" value="{{ customer.id }}">
                    <input style="justify-content: center;" class="btn btn-outline-danger" type="submit" value="More Info">
                </form>
            
        </div>
      </div>
    {% endfor %}
    </div>
</div>

{% endblock %}