{% extends './base.html' %}

{% load static %}

{% block title %}
Details: {{ name }}
{% endblock %}

{% block link %}
<!-- <link rel="stylesheet" href="{% static 'css/index.css' %}"> -->
<link rel="stylesheet" href="{% static 'css/details.css' %}">
{% endblock %}

{% block content %}
<br><br><br><br>
<div class="col-md-8 col-lg-6 col-sm-11 col-11 reg register-form register-left" >
      
    <div><img style="filter: blur(50); height:50%; width:50%;" src="/static/images/{{ gender }}.svg"></div><br>
    <h2> <b>Name:</b> {{ name }}</h2>
      <br>
      <h4 ><b>Date Of Birth:</b> {{ dob }}</h4><br>
      <h4 ><b>Email:</b> {{ email }}</h4><br>
      <h4 ><b>Contact No:</b> {{ contact_no }}</h4><br>
      <h4 ><b>Gender:</b> {{ gender }}</h4><br>
      <h4 ><b>Current Balance:</b>₹{{ current_balance }}</h4>
      <br>
      <div style="margin-left:30%;">
      <form style="margin-right:40%; display:inline-block; " action="/send_money" method="POST">
        {% csrf_token %}
          <input type="hidden" name="hidden_unique_id" value="{{ id }}">
          <input class="btn btn-outline-danger" type="submit" value="Send Money">
      </form>
      <form style="margin-right:40%; display:inline-block; " action="/transaction_history" method="POST">
        {% csrf_token %}
          <input type="hidden" name="hidden_unique_id" value="{{ id }}">
          <input class="btn  btn-outline-light" type="submit" value="Check History">
      </form>
      </div>
    </div>
    <br><br><br>

{% endblock %}